body{
    color:#999;text-align:center;font:16px/19px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color:black;
}
strong{color:#fff;font-weight:normal;}


div#main{
    display:inline-block;
}

/*====================== External Providers List ======================*/
div#extProviders
{
    display:table;
    border-collapse:separate;
    border-spacing:60px;
}

div#extProviders > div
{
    display:table-cell;
    vertical-align:middle;
    cursor:pointer;
    min-width:100px;min-height:100px
}

div#extProviders > div:hover > img
{
    width:91px;height:91px
}
/*====================== info ======================*/
div#info
{
    display:none;
    padding:10px;
    text-align:left;
    border-radius:25px;-moz-border-radius:25px;
    min-width:240px;height:200px;
    background-color:#303030;
}

div#info > div.user
{
    float:left;
    background:#181818;border-radius:6px;-moz-border-radius:6px;
    padding:10px;margin:10px 15px 10px 10px;
    display:block
}
div#info > div.user > img
{
    width:150px;height:150px;border-radius:4px;-moz-border-radius:4px;
}

div#info > div.message {display:table;width:100%;height:100%;border-spacing:5px}
div#info > div.message > div{
    color:#5FC0FE;font-size:17px;
    padding:20px;
    display:table-cell;vertical-align:middle;
    background:#181818;border-radius:6px;-moz-border-radius:6px;
}

span.progress{color:#5FC0FE}
span.href
{
    text-decoration:none;color:#ccc;
    border-bottom-width:1px;
    border-bottom-style:dotted;
    cursor:pointer;
}
span.href:hover{text-decoration:none;color:#fff;}

/*====================== External Authentication Request page ======================*/
div#extAuthRequestSending
{
    padding:10px;display:table;margin-top:100px;
    background-color:#303030;vertical-align:middle;
    border-radius: 25px;-moz-border-radius:25px;
    min-width:330px;height:190px;
}

div#extAuthRequestSending > div
{
    padding:10px;display:table-cell;vertical-align:middle;
    background-color:white;text-align:left;
    border-radius: 25px;-moz-border-radius:25px;
    min-width:220px;height:140px;
}
div#extAuthRequestSending > div > h1{color:#303030;font-size:17px}
div#extAuthRequestSending > div > div{float:right;margin:40px 15px 0 0}