@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            getExternalProvidersList();
        });

        function getExternalProvidersList()
        {
            $.ajax({
                type: "GET",
                url: "api/account/externalLogins?returnUrl=%2F&generateState=true",
                dataType: 'json',
                async: true,
                success: function (data) { renderExternalProvidersList(data); },
                error: function (error) { alert(JSON.stringify(error)); }
            });
        }

        function renderExternalProvidersList(data)
        {
            var extProviders = $('#extProviders');

            $.each(data, function (key, value)
            {
                var img = jQuery('<img/>', {
                    src: "../Content/img/" + value.name + ".png"
                });

                var div = jQuery('<div/>', {
                    title: value.name + ' authentication',
                    onclick: "javascript:extAuth('" + value.url + "');",
                });

                img.appendTo(div);
                div.appendTo(extProviders);
            });
        }

        function extAuth(url)
        {
            $('#userInfo').hide();
            ExtAuthDialog.Tab.open(url);
        }

        function extAuthCallback(extAuthWindow, tokenType, accessToken)
        {
            ExtAuthDialog.Tab.close(extAuthWindow);

            $.ajax({
                type: "GET",
                url: "api/account/userInfo",
                dataType: 'json',
                async: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", tokenType + " " + accessToken);
                },
                success: function (data) { showUserInfo(tokenType, accessToken, data); },
                error: function (error) { alert(JSON.stringify(error)); }
            });
        }

        function showUserInfo(tokenType, accessToken, userInfo)
        {
            if (userInfo["status"] == "error")
            {
                alert(userInfo["statusmessage"]);
                return;
            }

            var userInfoDiv = $('#userInfo');

            var info = "<div><img src=\"" + userInfo["ava"] + "\" /></div>";
            info += "<p>" + "<strong>Email:</strong> " + userInfo["email"] + "</p>";
            info += "<p>" + "<strong>Name:</strong> " + userInfo["name"] + "</p>";
            info += "<p>" + "<strong>Provider:</strong> " + userInfo["provider"] + "</p>";
            info += "<p>" + "<strong>Verified:</strong> " + userInfo["verified"] + "</p>";

            var divRegistration = null;

            if (userInfo["isReg"] == "true")
            {
                info += "<p>Registered</p>";
            }
            else
            {
                info += "<span class=\"href\" onclick=\"javascript:register('" + tokenType + "', '" + accessToken + "');\">Register</span>";
            }

            userInfoDiv.html(info);
            userInfoDiv.fadeIn(1000);
        }

        function register(tokenType, accessToken)
        {
            $.ajax({
                type: "POST",
                url: "api/account/registerExternal",
                dataType: 'json',
                async: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", tokenType + " " + accessToken);
                },
                success: function (data) { showUserInfo(tokenType, accessToken, data); },
                error: function (error) { alert(JSON.stringify(error)); }
            });
        }

    </script>
}

<div id="main">
    <div id="extProviders"></div>
    <div id="userInfo"></div>
</div>