@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            getExternalProvidersList();
        });
    </script>
}

<div id="main">
    <div id="extProviders"></div>
    <div id="userInfo"></div>
</div>