@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            getExternalProvidersList();
        });

        function getExternalProvidersList()
        {
            $.ajax({
                type: "GET",
                url: "api/account/externalLogins?returnUrl=%2F&generateState=true",
                dataType: 'json',
                contentType: 'application/json',
                async: true,
                success: function (data) { renderExternalProvidersList(data); },
                error: function (error) { alert(JSON.stringify(error)); }
            });
        }

        function renderExternalProvidersList(data)
        {
            var extProviders = $('#extProviders');

            $.each(data, function (key, value)
            {
                var img = jQuery('<img/>', {
                    src: "../Content/img/" + value.name + ".png"
                });

                var div = jQuery('<div/>', {
                    title: value.name + ' authentication',
                    onclick: "javascript:ExtAuthDialog.Tab.open('" + value.url + "');"
                });

                img.appendTo(div);
                div.appendTo(extProviders);
            });
        }

    </script>
}

<div id="main">
    <div id="extProviders"></div>
</div>