@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            getExternalProvidersList();
        });

        function getExternalProvidersList()
        {
            $.ajax({
                type: "GET",
                url: "api/account/externalLogins?returnUrl=%2F&generateState=true",
                dataType: 'json',
                async: true,
                success: function (data) { renderExternalProvidersList(data); },
                error: function (error) { alert(JSON.stringify(error)); }
            });
        }

        function renderExternalProvidersList(data)
        {
            var extProviders = $('#extProviders');

            $.each(data, function (key, value)
            {
                var img = jQuery('<img/>', {
                    src: "../Content/img/" + value.name + ".png"
                });

                var div = jQuery('<div/>', {
                    id: "extPr-" + value.name,
                    title: value.name + ' authentication',
                    onclick: "javascript:extAuth('" + value.url + "');",
                });

                img.appendTo(div);
                div.appendTo(extProviders);
            });
        }

        function extAuth(url)
        {
            $('#userInfo').hide();
            ExtAuthDialog.Tab.open(url);
        }

        function extAuthCallback(extAuthWindow, tokenType, accessToken)
        {
            ExtAuthDialog.Tab.close(extAuthWindow);

            $.ajax({
                type: "GET",
                url: "api/account/user",
                dataType: 'json',
                async: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", tokenType + " " + accessToken);
                },
                success: function (data) { showUserInfo(tokenType, accessToken, data); },
                error: function (error) { alert(JSON.stringify(error)); }
            });
        }

        function showUserInfo(tokenType, accessToken, userInfo)
        {
            var userInfoDiv = $('#userInfo');

            var info = "<div><img src=\"" + userInfo["ava"] + "\" /></div>";
            info += "<p>" + "<strong>Email:</strong> " + userInfo["email"] + "</p>";
            info += "<p>" + "<strong>Name:</strong> " + userInfo["name"] + "</p>";
            info += "<p>" + "<strong>Provider:</strong> " + userInfo["provider"] + "</p>";
            if (userInfo["isReg"] == true)
            {
                info += "<span style=\"margin-right:20px\"" +
                        " title=\"Delete user\" class=\"href\"" +
                        " onclick=\"javascript:deleteUser('" + tokenType + "', '" + accessToken + "');\">Delete</span>";

                if (userInfo["verified"] == true)
                {
                    info += "<span>Verified</span>";
                }
                else
                {
                    info += "<span class=\"href\" onclick=\"javascript:verify('" + tokenType + "', '" + accessToken + "');\">Verify</span>";
                }
            }
            else
            {
                info += "<span class=\"href\" onclick=\"javascript:register('" + tokenType + "', '" + accessToken + "');\">Register</span>";
            }

            userInfoDiv.html(info);
            userInfoDiv.fadeIn(1000);
        }

        function register(tokenType, accessToken)
        {
            $.ajax({
                type: "POST",
                url: "api/account/registerExternal",
                dataType: 'json',
                async: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", tokenType + " " + accessToken);
                },
                success: function (data) { registrationCallback(data); },
                error: function (error) { alert(JSON.stringify(error)); }
            });
        }

        function registrationCallback(data)
        {
            if (data["status"] == "error")
            {
                alert(data["statusmessage"]);
                return;
            }

            var accessToken = data["accessToken"];
            alert(accessToken["type"] + " " + accessToken["value"]);
            showUserInfo(accessToken["type"], accessToken["value"], data["user"]);
        }

        function deleteUser(tokenType, accessToken) {
            $.ajax({
                type: "DELETE",
                url: "api/account/user",
                dataType: 'json',
                async: true,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", tokenType + " " + accessToken);
                },
                success: function (data) { alert('Done'); $('#userInfo').hide(); },
                error: function (error) { alert(JSON.stringify(error)); }
            });
        }

    </script>
}

<div id="main">
    <div id="extProviders"></div>
    <div id="userInfo"></div>
</div>