@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            getExternalProvidersList();

            if (isTokenSet())
                getUserInfo();
        });
    </script>
}

<div class="main">
    <div id="extProviders"></div>
    <div id="info"></div>
</div>