@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            getExternalProvidersList();
        });

        function getExternalProvidersList()
        {
            $.ajax({
                type: "GET",
                url: "api/account/externalLogins?returnUrl=%2F&generateState=true",
                dataType: 'json',
                contentType: 'application/json',
                async: true,
                success: function (data) { renderExternalProvidersList(data); },
                error: function (error) { alert(JSON.stringify(error)); }
            });
        }

        function renderExternalProvidersList(data)
        {
            var extProviders = $('#extProviders');
            

            $.each(data, function (key, value)
            {
                
                //alert(value.url);
            });
        }
    </script>
}

<div id="main">
    <div id="extProviders">
        <div>
            <img src="~/Content/img/Facebook.png" />
        </div>
        <div>
            <img src="~/Content/img/Google.png" />
        </div>
        <div>
            <img src="~/Content/img/Microsoft.png" />
        </div>
    </div>
</div>