<html>
    <head>
        <title>SupperSlonic OWIN Auth Demo</title>

        <link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/css/externalAuthDialog.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="~/Content/js/extAuthDialog.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
        @RenderSection("Scripts", false)
    </head>
    <body>
        @RenderBody()
        @Html.Partial("ExternalAuthDialog")
    </body>
</html>