<div id="extAuthDialog_overlay" style="display:none">
    <div id="extAuthDialog_wrapper">
        <iframe src="about:blank;"
                name="extAuthDialog_iframe"
                id="extAuthDialog_iframe"
                style="background-color:white"
                scrolling="no"
                frameborder="0"></iframe>
    </div>
    <div id="extAuthDialog_mask" onclick="ExtAuthDialog.Tab.close(); return false"></div>
</div>