<div id="extAuthDialog_overlay" style="display:none">
    <div id="extAuthDialog_wrapper">
        <iframe src="about:blank;"
                name="extAuthDialog_iframe"
                id="extAuthDialog_iframe"
                allowtransparency="true"
                scrolling="no"
                frameborder="0"></iframe>
    </div>
</div>