@using AuthDomain.Models.Account;

@model User
@{Layout = "_Layout.cshtml";}

<div class="main" style="margin-top:20px">
    <p>Dear @Model.FullName,</p>
    <p>Your registration <strong>has been successfully confirmed</strong>.</p>
</div>


